{% extends "catalog/base.html" %}
{% comment %} {% extends "base.html" %} {% endcomment %}
{% comment %} {% load i18n static %}

{% block content %}

{% if validlink %}

<p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">{% translate 'New password:' %}</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
        {{ form.new_password2 }}
    </div>
    <input type="submit" value="{% translate 'Change my password' %}">
</fieldset>
</form>

{% else %}

<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %} {% endcomment %}

{% block content %}
{% if validlink %}
<p>Пожалуйста, введите (и подтвердите) свой новый пароль.</p>
<form action="" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                {{ form.new_password1.errors }}
                <label for="id_new_password1">Новый пароль:</label></td>
            <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
            <td>
        {{ form.new_password2.errors }}
        <label for="id_new_password2">Подтвердите новый пароль: </label></td>
                <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Сменить пароль "/></td>
        </tr>
    </table>
</form>
{% else %}
<h1>Ошибка при смене пароля!!! </h1>
<p>Ссылка на сброс пароля была недействительной, возможно, потому, что
    она уже испрользовалась. Пожалуйста, запросите новый сброс пароля.</p>
{% endif %}
{% endblock %}